
body {
    background: url("../imgs/bg.jpeg") no-repeat;
    background-size:cover;
}

.fotoPerfil {
    width:220px;
    height: 220px;
    background:url("../imgs/IMG_2287.jpg") no-repeat;
    background-size:cover;
    border-radius: 100%;
    margin-left:50px;
    background-position: center;
}

.nomePerfil {
    font-size:26px;
    color:#ff0991;
    text-align: center;
    font-weight: 600;
}